
body {
    
   
    overflow: hidden;
  }
  body {
  background: linear-gradient(-45deg, #ee7752, #e73c3c, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
    }
  .menu-bar {
    display: flex;
    top: 0px;
    left: 0%;
    background-color: rgba(10, 9, 7, 0);
    width: 100%;
    padding: 1rem;
    justify-content: flex-end;
  }
  .menu-bar ul {
    margin: 0;
    padding: 1vh 0;
    text-align: center;
  }
  
  .menu-bar ul li {
    display: inline-block;
    margin-right: 1vw;
  }
  
  .menu-bar ul li:last-child {
    margin-right: 3vw;
  }
  
  .menu-bar ul li a {
    display: block;
    color: #fffcfc;
    text-decoration: none;
    font-size: 2vh;
    position: relative;
    padding: 1vh 1vw;
  }
  .menu-bar ul li a:hover:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 70%;
    height: 2px;
    background-color: #b14e4e;
    border-radius: 2px;
    transform: translateX(-50%);
  }
  
  .dropdown {
    position: relative;
  }
  
  .phone {
    color: #fffcff;
    font-size: 2.5vh;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #33333300;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    display: block;
    padding: 1vh 1vw;
    color: #fff;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
  
    color: #fff;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
.content {
    text-align: center;
    margin-top: 50px;
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 200px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}
