

body {
    min-height: 99vh;
    background: rgb(253, 219, 218);
    background: linear-gradient(
        0deg,
        rgb(0, 0, 0) 20%,
        rgb(173, 40, 40) 58%,
        rgb(23, 36, 136) 98%
    );
    overflow: hidden;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;

}

 
  .menu-bar {
    display: flex;
    top: 0px;
    left: 0%;
    background-color: rgba(10, 9, 7, 0);
    width: 100%;
    padding: 1rem;
    justify-content: flex-end;
  }
  .menu-bar ul {
    margin: 0;
    padding: 1vh 0;
    text-align: center;
  }
  
  .menu-bar ul li {
    display: inline-block;
    margin-right: 1vw;
  }
  
  .menu-bar ul li:last-child {
    margin-right: 3vw;
  }
  
  .menu-bar ul li a {
    display: block;
    color: #fffcfc;
    text-decoration: none;
    font-size: 2vh;
    position: relative;
    padding: 1vh 1vw;
  }
  .menu-bar ul li a:hover:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 70%;
    height: 2px;
    background-color: #b14e4e;
    border-radius: 2px;
    transform: translateX(-50%);
  }
  
  .dropdown {
    position: relative;
  }
  
  .phone {
    color: #fffcff;
    font-size: 2.5vh;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #33333300;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    display: block;
    padding: 1vh 1vw;
    color: #fff;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
  
    color: #fff;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  
  

